<%@ tag language="java" pageEncoding="ISO-8859-1"%>

<p><strong>

This is my column
This is my column
This is my column
This is my column
This is my column
This is my column
This is my column
This is my column

</strong></p>